@import "../../../styles/variables.scss";

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $container-bg;

    .login-title {
        text-align: center;
        margin: 3rem;
        /* Add more space between title and form */

        h1 {
            margin: 0;
            color: #007bff;
        }

        p {
            color: #ffffff;
            font-size: 1rem;
            margin-top: 0.5rem;
        }
    }
}

.login-form {
    background-color: $main-bg;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .form-group {
        margin-bottom: 1rem;

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        input {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 1rem;
        }

        .error-message {
            color: red;
            font-size: 0.875rem;
            margin-top: 0.5rem;
        }
    }

    .submit-btn {
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }
    }

    .register-link {
        text-align: right;

        .register-btn {
            width: 100%;
            padding: 0.75rem;
            background-color: white;
            color: #007bff;
            border: none;
            border-radius: 4px;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.897);
            }
        }
    }
}