@import "../../styles/variables.scss";

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // background-color: $container-bg;

    .auth-title {
        text-align: center;
        margin-bottom: 2rem;

        h1 {
            margin: 0;
            color: #007bff;
        }

        p {
            color: #555;
            font-size: 1rem;
            margin-top: 0.5rem;
        }
    }

    .auth-content {
        background-color: $main-bg;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
    }
}